/* ============================================================================

  WE ARE EMPIRE BASE THEME

===============================================================================

  - Imports all modules and partials to compile to /assets/css/style.css

===============================================================================

  CHARACTER SET

===============================================================================

  - Defines the character set to use within the style sheet

============================================================================ */

@charset "utf-8";

@font-face {
  font-family: 'GT Walsheim Regular';
  src: url( '../fonts/GT-Walsheim-Regular.ttf' )  format( 'truetype' );
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GT Walsheim Medium';
  src: url( '../fonts/GT-Walsheim-Medium.ttf' )  format( 'truetype' );
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GT Walsheim Bold';
  src: url( '../fonts/GT-Walsheim-Bold.ttf' )  format( 'truetype' );
  font-weight: normal;
  font-style: normal;
}


/* ============================================================================

  CSS PROPERTY ORDERING

===============================================================================

  - Where possible use the following propety order for css rules, including a line break between group types, this will allow us to maintain style sheets a lot easier in the future

===============================================================================

POSITIONING

  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;


DISPLAY & BOX MODEL

  display: inline-block;
  overflow: hidden;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  padding-top:    0;
  padding-right:  0;
  padding-bottom: 0;
  padding-left:   0;
  border: none;
  border-radius: 0;
  margin-top:    0;
  margin-right:  0;
  margin-bottom: 0;
  margin-left:   0;


COLOR & APPEARANCE

  background-image: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #000;
  box-shadow: none;
  color: #fff;

  
TEXT

  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  text-align: right;


OTHER

  transition: none;
  cursor: pointer;


===============================================================================

  IMPORTS

===============================================================================

  - Imports module and partial base files, shouldn't need to be any other imports here

===============================================================================

  MODULES

============================================================================ */

@import "modules/base";


/* ============================================================================

  PARTIALS

============================================================================ */

@import "partials/base";

