html
{

  &.allow-scroll
  {
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    @media ( max-width: $size_0768 + px )
    {
      .navigation
      {
        position: relative;
        background-color: $grey;
      }
    }
  }

}

body,html { height: 100%; }

body {
  color: $white;
  background-color: $black;

  font-family: 'GT Walsheim Regular', sans-serif;
  font-weight: 300;
  text-shadow: 1px 1px 0 rgba( 0, 0, 0, .004 );

  -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;

  -moz-osx-font-smoothing: grayscale;

  -webkit-text-size-adjust: 100%;

  @include transition;

  overflow-x: hidden;
}

a {
  color: $white;

  text-decoration: none;
}

del {
  position: relative;

  @include display_inline;

  text-decoration: none;

  &:before {
    position: absolute;
    top: 50%;
    left: 0;

    display: block;
    width: 100%;
    height: 2px;

    background-color: $white;

    content: '';

    -webkit-transform: translateY( -50% );
       -moz-transform: translateY( -50% );
            transform: translateY( -50% );
  }

}

.container,
.section {
  padding-right: 35px;
  padding-left: 35px;
}


.navigation {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;

  width: 100%;
  @include box;
  padding-top: 70px;
  padding-right: 70px;
  padding-left: 70px;

  @media ( max-width: $size_0768 - 1 + px )
  {
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
  }
}

.branding {
  @include display_inline(middle);
  width: 114px;

  img {
    display: block;
    width: 100%;
  }

  @media ( max-width: $size_0768 - 1 + px )
  {
    width: 78px;
  }

}

.navigation-list
{
  @include display_inline(middle);
  width: 100%;
  max-width: calc( 100% - 114px );

  text-align: right;

  li
  {
    @include display_inline;

    &:not(:first-child)
    {
      margin-left: 35px;
    }

  }

  a
  {
    font-size: 22px;
    font-weight: 400;
  }

  @media ( max-width: $size_0768 - 1 + px )
  {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;

    max-width: 100%;
    height: 100%;
    @include box;
    padding-top: 40%;

    background-color: $black;

    text-align: right;

    -webkit-transform: translateX(100%);
       -moz-transform: translateX(100%);
            transform: translateX(100%);

    @include transition( all, .3s, ease );

    li
    {
      display: block;
      padding-right: 35px;

      line-height: 40px;

      &:not(:first-child)
      {
        margin-left: 0;
      }

    }

    &.is-active
    {
      -webkit-transform: none;
         -moz-transform: none;
              transform: none;
    }

  }

}

.toggle--menu
{
  position: absolute;
  z-index: 10;
  top: 50px;
  right: 30px;

  font-size: 26px;
  font-weight: 400;

  display: none;

  @media ( max-width: $size_0768 - 1 + px )
  {
    @include display_inline;
  }
}

.browse
{
  position: absolute;
  top: 77%;
  left: 42.3%;

  font-size: 22px;
  font-weight: 400;

  -webkit-transform: translateY( -50% );
     -moz-transform: translateY( -50% );
          transform: translateY( -50% );

  svg
  {
    position: absolute;
    top: 50%;
    left: -40px;

    display: block;
    width: 26px;
    height: 35px;

    -webkit-transform: translateY( -50% );
       -moz-transform: translateY( -50% );
            transform: translateY( -50% );

    content: '';

    & *
    {
      fill: $white;
    }

  }

  @media ( max-width: $size_0768 - 1 + px )
  {
    position: fixed;
    z-index: 10;
    top: auto;
    bottom: 100px;
    left: auto;
    right: 30px;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    -webkit-transform: none;
       -moz-transform: none;
            transform: none;

    @include transition(opacity,.3s,ease);

    &.is-active
    {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;

      @include transition(opacity,.3s,ease,.3s);
    }

  }

}

.homepage--slider {
  position: relative;

  height: 100vh;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;

  @include transition;

  .name--list {
    position: absolute;
    bottom: 30px;
    left: 35px;
  }

}

.name--list {
  font-family: 'GT Walsheim Bold';
  font-size: 164px;
  letter-spacing: -0.03em;
  line-height: 154px;

  .name {
    color: rgba( $white, .33 );

    @include transition;

    &.is-active {
      color: $white;
    }

  }

  @media ( max-width: $size_1200 + px ) {
    font-size: 72px;
    line-height: 94px;
  }

}



.footer {
  position: relative;
  padding-top: 100px;
  padding-bottom: 65px;
}

.footer--about {
  @include box;
  padding-right: 15%;
  padding-bottom: 65px;
  padding-left: 40%;

  h4 {
    margin-bottom: 44px;

    font-size: 50px;
    font-weight: 400;
    letter-spacing: -0.03em;
    line-height: 58px;
  }

  p {
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
  }

}

.footer--out
{
  @media ( min-width: $size_1024 + 1 + px )
  {
    position: absolute;
    top: 100px;
    left: 0;

    width: 40%;
    height: 100%;
    padding-left: 70px;
  }
  @media ( max-width: $size_1024 + px )
  {
    margin-top: 50px;
    padding-left: 35px;
  }
  width: 100%;

  padding-right: 15%;
  @include box;
  overflow: hidden;

  p
  {
    font-size: 14px;
  }

  .footer--links
  {
    margin-left: 0;
    width: 100%;

    @media ( max-width: 1180px )
    {
      padding-top: 30px;
    }
  }
}

.footer--logos
{

  @media ( min-width: 1025px )
  {position: relative;
    margin-bottom: 65px;
    .footer--logos__inner
    {
      position: absolute;
      bottom: 0;

      a
      {
        margin-bottom: 0;
      }
    }

  }
  a
  {
    @include display_inline;
    margin-right: 30px;
    margin-bottom: 25px;
  }

  img
  {
    height: 35px;
    width: auto;
    display: block;
  }
}

.footer--links {

  & > div {
    @include display_inline;
    line-height: 30px;
  }

  span
  {
    margin-right: 5px;
    font-size: 18px;
    color: $white;
    @include display_inline;
    @media (max-width: 1180px), (max-height: 880px) and (min-width: 1025px)
    {
      font-size: 15px;
    }
    @media ( max-width: 1024px )
    {
      font-size: 16px;
    }
  }

  .sponsor {
    width: 40%;
  }

  .contact {
    width: 30%;
    &.alt
    {
      width: 100%;
    }
  }

  .social {
    width: 30%;
  }

  a {
    position: relative;

    @include display_inline;

    font-size: 18px;

    clip: rect(-50px,auto,auto,auto);

    overflow: hidden;

    @media ( max-width: 1024px )
    {
      font-size: 16px;
    }

    span
    {
      position: absolute;
      top: -10%;
      left: 0;

      display: block;
      width: 70%;
      height: 65%;

      background-color: #fa3d43;

      opacity: .7;

      content: '';

      -webkit-transform: translateX( -200% );
         -moz-transform: translateX( -200% );
              transform: translateX( -200% );

      @include transition( all, .6s, ease-in-out );
    }

    &:hover
    {
      span
      {
        -webkit-transform: none;
           -moz-transform: none;
                transform: none;
      }

    }

  }

  .social {

    a {
      margin-right: 40px;
    }

  }

}

@media ( max-width: 1366px )
{

  .name--list
  {
    font-size: 140px;
    line-height: 135px;
  }

}

@media ( max-width: 1180px ),
       ( min-width: 1025px ) and ( max-height: 880px )
{

  .name--list
  {
    font-size: 120px;
    line-height: 115px;
  }

  .footer--about {

    h4
    {
      margin-bottom: 34px;

      font-size: 28px;
      line-height: 42px;
    }

    p
    {
      font-size: 18px;
      line-height: 32px;
    }

  }

  .footer--links {
    width: 50%;
    margin-left: 40%;

    .contact,
    .social
    {
      width: 100%;
    }

    a
    {
      font-size: 15px;
    }

  }

}

@media ( max-width: 1024px ),
       ( min-width: 1025px ) and ( max-height: 700px )
{

  .name--list
  {
    right: 70px;
    bottom: 65px !important;
    left: 70px !important;

    font-size: 80px;
    line-height: 85px;
  }

}

@media ( max-width: $size_0768 - 1 + px ) {

  .name--list {
    font-size: 39px;
    line-height: 45px;
    left: 30px !important;
    bottom: 35px !important;
    right: 30px;
  }

}

@media ( max-width: $size_1024 + px ) {

  .footer
  {
    padding-top: 35px;
    padding-bottom: 35px;

    .row
    {
      padding-right: 35px;
      padding-left: 35px;
    }

  }

  .footer--about {
    padding-right: 0;
    padding-left: 0;

    h4
    {
      margin-bottom: 34px;

      font-size: 28px;
      line-height: 42px;
    }

    p
    {
      font-size: 18px;
      line-height: 32px;
    }

  }

  .footer--links {
    width: 100%;
    margin-left: 0;

    .sponsor,
    .contact,
    .social {
      width: 100%;
    }

  }

}




.page--header {
  position: relative;
  width: 100%;
  height: 75vh;
  max-height: 830px;

  @media ( max-height: 700px )
  {
    height: 75vh;
  }

  .intro {
    position: absolute;
    left: 50px;
    bottom: 50px;

    width: 100%;
    max-width: 500px;

    font-size: 50px;
    font-weight: 400;
    letter-spacing: -0.03em;
    line-height: 58px;
    color: $white;

    @media ( max-width: 520px )
    {
      left: 35px;
      bottom: 35px;
      max-width: calc( 100vw - 70px );
    }

    @media ( max-width: 700px ), ( max-height: 580px )
    {
      font-size: 38px;
      line-height: 48px;
    }

    @media ( max-width: 400px )
    {
      font-size: 32px;
      font-weight: 600;
      line-height: 42px;
    }

    &.post--published
    {
      font-family: 'Playfair Display', serif;
      font-size: 22px;
      line-height: 35px;

      @media ( max-width: 1590px )
      {
        display: none;
      }

      .published--category
      {
        color: $grey-light;

        font-size: 20px;
        font-style: italic;

        @include transition;

        &:hover
        {
          color: $brand;
        }

      }

    }

  }

}

@media ( max-width: 768px ),
       ( min-width: 768px ) and ( max-height: 580px )
{
  .blog--content
  {

    .content--inner
    {
      -webkit-transform: translateY( -220px );
         -moz-transform: translateY( -220px );
              transform: translateY( -220px );
    }

    .post--header
    {
      margin-bottom: 35px;
    }

    .content--holder.main--content
    {
      margin-top: 35px;
      margin-bottom: auto;
    }

  }

}

.content--inner
{
  @include display_inline;
  width: 100%;
  max-width: 1300px;
  margin-bottom: -50px;

  text-align: left;

  -webkit-transform: translateY( -400px );
     -moz-transform: translateY( -400px );
          transform: translateY( -400px );

  @media ( max-width: 700px )
  {
    -webkit-transform: translateY( -350px );
       -moz-transform: translateY( -350px );
            transform: translateY( -350px );
  }

  img
  {
    display: block;
    width: 100%;
    // max-width: 1200px;
  }

  .main--content__inner
  {
    a
    {
      position: relative;

      @include display_inline;

      clip: rect(-50px,auto,auto,auto);

      overflow: hidden;

      color: $grey;

      &:before
      {
        position: absolute;
        top: -10%;
        left: 0;

        display: block;
        width: 70%;
        height: 65%;

        background-color: #fa3d43;

        opacity: .7;

        content: '';

        -webkit-transform: translateX( -200% );
           -moz-transform: translateX( -200% );
                transform: translateX( -200% );

        @include transition( all, .6s, ease-in-out );
      }



      &:hover
      {
        &:before
        {
          -webkit-transform: none;
             -moz-transform: none;
                  transform: none;
        }

      }

    }
  }

  h2
  {
    margin-bottom: 46px;

    color: $black;

    font-size: 34px;
    font-weight: 400;
    line-height: 46px;

    &:first-of-type
    {
      margin-bottom: 86px;
    }

    @media ( max-width: $size_0768 - 1 + px )
    {
      font-size: 26px;
      line-height: 38px;
      // font-size: px;
      // line-height: 36px;

      &:first-of-type
      {
        margin-bottom: 66px;
      }
    }

  }

  h3,
  h4
  {
    margin-bottom: 38px;

    color: $black;

    font-size: 24px;
    font-weight: 400;
    line-height: 38px;
  }

  p
  {
    margin-bottom: 34px;

    color: $black;

    font-size: 21px;
    line-height: 34px;

    // &:first-of-type
    // {
    //   margin-bottom: 86px;

    //   font-size: 34px;
    //   font-weight: 400;
    //   line-height: 46px;
    // }

    &:last-of-type
    {
      margin-bottom: 0;
    }

    @media ( max-width: 767px )
    {
      margin-bottom: 28px;

      font-size: 16px;
      line-height: 28px;

    }

  }

}

.post--navigate
{
  margin-top: 150px;

  a
  {
    position: relative;

    color: $black;

    font-size: 26px;
    font-weight: 400;
    line-height: 32px;

    &:before
    {
      position: relative;

      @include display_inline;
      width: 115px;
      height: 32px;
      margin-right: 120px;

      background-image: url( '../images/mm-next-post.png' );
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;

      content: '';

      @include transition;
    }

    @media ( min-width: 661px )
    {
      &:hover
      {

        &:before
        {
          -webkit-transform: translateX( -30px );
             -moz-transform: translateX( -30px );
                  transform: translateX( -30px );
        }

      }

    }

  }

  @media ( max-width: 660px )
  {
    margin-top: 80px;

    a
    {
      font-size: 18px;

      &:before
      {
        width: 75px;
        margin-right: 75px;
      }

    }

  }

  @media ( max-width: 470px )
  {

    a
    {
      font-size: 16px;

      &:before
      {
        width: 50px;
        margin-right: 50px;
      }

    }

  }

}

.content--holder
{
  width: 100%;
  max-width: 930px;
  margin-right: auto;
  margin-left: auto;
  @include box;
  padding-right: 40px;
  padding-left: 40px;

  &.main--content
  {
    position: relative;
    margin-top: 100px;
    margin-bottom: -200px;

    blockquote
    {
      display: block;

      p
      {
        margin-bottom: 0;

        font-family: 'Playfair Display', serif;
        font-size: 22px;
        line-height: 35px;

        &:last-child
        {
          color: $grey-light;

          font-size: 20px;
          font-style: italic;
        }

      }

      @media ( max-width: 1339px )
      {
        margin-bottom: 65px;
      }

      @media ( min-width: 1340px )
      {
        position: absolute;
        right: 100%;

        width: 250px;
        margin-right: 5vw;

        text-align: right;
      }

    }

  }

}

.post--header
{
  margin-bottom: 100px;

  font-size: 81px;
  font-weight: 600;
  line-height: 86px;

  @media ( max-width: 1090px )
  {
    font-size: 60px;
    line-height: 68px;
  }

  @media ( max-width: 700px )
  {
    font-size: 40px;
    line-height: 52px;
  }

  @media ( max-width: 470px )
  {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 46px;
  }

  @media ( max-width: 400px )
  {
    font-size: 36px;
    line-height: 46px;
  }

}

.browse--all {
  min-height: 100vh;

  background-color: $grey;

  @media ( max-width: 1160px )
  {
    // padding-top: 160px;
  }
  @media ( max-width: $size_0768 - 1 + px )
  {
    padding-top: 0;
  }
  
  li {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 100%;

    @media ( min-width: 1160px )
    {
      &:not(.full)
      {
        width: 50%;
      }

    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }

  }

}

.blog--content
{
  background-color: $white;
  width: 100%;

  text-align: right;

  @media ( min-width: 1480px )
  {

    &.is--list
    {
      text-align: left;
    }

  }

}

.blog--list
{
  @include display_inline;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 100px;
  @include box;
  padding-right: 50px;
  padding-left: 50px;
  @media ( min-width: 1480px )
  {
    max-width: none;
    padding-left: 40%;
  }

  @media ( max-width: 900px )
  {
    margin-top: 80px;
  }

  @media ( max-width: 520px )
  {
    margin-top: 35px;
    margin-bottom: 35px;
    padding-right: 35px;
    padding-left: 35px;
  }

  @media ( min-width: 1480px )
  {
    margin-bottom: calc( -40vh + 80px );

    -webkit-transform: translateY( calc( -40vh - 140px ) );
       -moz-transform: translateY( calc( -40vh - 140px ) );
            transform: translateY( calc( -40vh - 140px ) );
  }

  li
  {
    position: relative;
    @include display_inline;
    width: 100%;

    @media ( max-width: 900px )
    {
      margin-bottom: 40px;
    }

    @media ( min-width: 810px )
    {
      max-width: 320px;
    }

    @media ( min-width: 900px )
    {
      height: 920px;
    }

    @media ( min-width: 1028px ),
           ( min-width: 520px ) and ( max-width: 809px )
    {
      max-width: 415px;
    }

    @media ( min-width: 1240px ) and ( max-width: 1670px )
    {
      max-width: 385px;
    }

    &:nth-child(2n)
    {
      @media ( min-width: 520px )
      {
        margin-left: 65px;
      }

      @media ( min-width: 1048px )
      {
        margin-left: 115px;
      }

      @media ( min-width: 1480px )
      {
        margin-left: 4vw;
      }

      @media ( min-width: 1690px )
      {
        margin-left: 10vw;
      }

    }

  }

@media ( min-width: 900px )
{

  .blog--item
  {
    position: absolute;
    top: 50%;
    left: 0;

    display: block;
    width: 100%;

    -webkit-transform: translateY( -50% );
       -moz-transform: translateY( -50% );
            transform: translateY( -50% );

    &:hover
    {
      span
      {
        -webkit-transform: none;
           -moz-transform: none;
                transform: none;
      }

    }

  }

}

  .blog--snippet
  {
    position: relative;
  @media ( min-width: 900px )
  {
    position: absolute;
    top: 100%;
  }
    left: -40px;

    width: 140%;
    @include box;
    padding-top: 30px;
    padding-right: 50%;
    padding-left: 40px;

    text-align: left;

    clip: rect(-50px,auto,auto,auto);

  @media ( max-width: 520px )
  {
    width: 100vw;

    padding-right: 25px;
  }

  @media ( min-width: 900px )
  {
    span
    {
      position: absolute;
      top: -20%;
      left: -10%;

      display: block;
      width: 60%;
      height: 65%;

      background-color: #f00;

      opacity: .9;

      content: '';

      -webkit-transform: translateX( -200% );
         -moz-transform: translateX( -200% );
              transform: translateX( -200% );

      @include transition( all, .6s, ease-in-out );
    }

  }

  }

  .post--link
  {
    position: relative;
    z-index: 2;

    display: block;
    margin-bottom: 8px;

    color: $black;

    font-size: 26px;
    font-weight: 400;
    line-height: 33px;
  }

  .post--cat
  {
    position: relative;
    z-index: 2;

    color: $grey-light;

    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 20px;
    line-height: 45px;

    a
    {
      color: $grey-light;

      @include transition;

      &:hover
      {
        color: $black;
      }

    }

  }

  img
  {
    position: relative;

    display: block;
    width: 100%;
  }

}



.preloader
{
  position: fixed;
  z-index: -1;
  bottom: 0;
  left: -9999px;

  height: 1px;
  width: 1px;

  opacity: 0;
  pointer-events: none;
}


.artist--info
{
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;

  text-align: center;

  -webkit-transform: translateX( -50% );
     -moz-transform: translateX( -50% );
          transform: translateX( -50% );

  img,
  .artist--info__inner
  {
    display: inline-block !important;
    vertical-align: middle;
  }

  img
  {
    width: 50px !important;
    height: 50px !important;
    border-radius: 100%;
    margin-right: 30px;

    & + .artist--info__inner
    {
      text-align: left;
    }

  }

  .artist--info__inner
  {
    line-height: 22px;

    h3
    {
      font-size: 18px;
    }

    a
    {
      font-size: 12px;

      position: relative;

      @include display_inline;

      clip: rect(-50px,auto,auto,auto);

      overflow: hidden;

      span
      {
        position: absolute;
        top: -10%;
        left: 0;

        display: block;
        width: 70%;
        height: 65%;

        background-color: #fa3d43;

        opacity: .7;

        content: '';

        -webkit-transform: translateX( -200% );
           -moz-transform: translateX( -200% );
                transform: translateX( -200% );

        @include transition( all, .6s, ease-in-out );
      }

      &:hover
      {
        span
        {
          -webkit-transform: none;
             -moz-transform: none;
                  transform: none;
        }

      }
    }

  }

}

.browse--all
{

  li
  {
    &.full
    {
      .artist--info
      {
        margin-top: -50px;

        img
        {
          width: 75px !important;
          height: 75px !important;
        }

        .artist--info__inner
        {
          line-height: 26px;
          h3
          {
            font-size: 22px;
          }
          a
          {
            font-size: 14px;
          }
        }

      }

    }

  }

}


