/* ============================================================================

  GCOLOURS

===============================================================================

  - Set various global colours, including brand and general colours

===============================================================================

  BRAND COLOURS

============================================================================ */

$brand: #ea2755;


/* ============================================================================

  GENERAL

============================================================================ */

$white: #fff;

$grey: #626165;

$grey-light: #ababab;

$black: #252525;



